@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0px;
    background-color: white;
}

header h1 {
    font-family: 'Moon Dance', cursive;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul{
    font-family: 'Merriweather', serif;
    display: flex;
}

header nav ul li {
    margin: 0px 20px;
    color: black;
    
}

header nav ul li a {
    color: black;
    transition: 0.5s ease-in;
}

header nav ul li a:hover {
    border-bottom: 1px solid black;
}  

#imgcasamento {
    height: 90vh;
    background-image: url(img/alianca.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(237, 228, 228);
}

#imgcasamento h1 {
    font-family: 'Moon Dance', cursive;
    font-size: 100px;
}

#imgcasamento #data {
    margin-bottom: 150px;
    font-size: 30px;
}

#imgcasamento #conhecanos {
    font-size: 30px;
}

#historia {
    height: 90vh;
    background-color: rgb(237, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}

#fotohistoria, #conto {
    width: 300px;
    height: 300px;
    margin: 40px;
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#conto h1 {
    margin-bottom: 30px;
}

#fotohistoria img {
    width: 100%;
    box-shadow: 0px 0px 10px black;
}

#galeria {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#galeria #container {
    /* background-color: red; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

#galeria .foto {
    height: 200px;
    margin: 10px 0px;
    overflow: hidden;
    cursor: pointer;
}

#galeria .foto img {
    transition: all 0.5s;
    height: 100%;
}

#galeria .foto img:hover {
    transform: scale(1.1);
    filter: grayscale(10);
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;

}

footer p {
    font-size: 20px;
    line-height: 43px;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

footer ul li a{
    font-size: 20px;
    color: white;
    margin-right: 10px;
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.8s linear, opacity 0.5s linear;
}

.modal_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#modal_img {
    width: 80vh;
}

#bt_close {
    padding: 0px 10px;
    font-size: 50px;
    color: white;
    background-color: black;
    position: absolute;
    top: 0px;
    right: 350px;
    cursor: pointer;
}

#bt_close:hover {
    background-color: rgba(0, 0, 0, 0.501);
}

.modal_active {
    visibility: visible;
    opacity: 1;
}

#topo {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: gray;
    font-size: 50px;
    cursor: pointer;
}

